<p>angularmaterial works!</p>


<button mat-flat-button>Basic</button>
&nbsp;
<button mat-stroked-button>Basic</button>
&nbsp;
<button mat-raised-button>Basic</button>

<hr>

<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Gol D Roger</mat-card-title>
      <mat-card-subtitle>Pirate King</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.stockcake.com/public/7/e/c/7ecb903f-28aa-47a2-aaf3-80fcdb6ed203_large/tough-pirate-character-stockcake.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Roger was very quick to anger, and he would retaliate for something as simple as an insult to his crew, regardless of how small it might be. Garp stated that an angry Roger could be a violent, selfish, and short-tempered man, but his actions had been pure and straight, just like a child's, and that he was lucky to survive and become the Pirate King despite his extremely reckless nature.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  

