<nav>
    <button type="button" class="btn btn-success btn-sm" routerLink="databinding">databinding</button>{{" "}}
    <button type="button" class="btn btn-success btn-sm" routerLink="directive">directive</button>{{" "}}
    <button type="button" class="btn btn-success btn-sm" routerLink="angForm">angForm</button>{{" "}}
    <button type="button" routerLink="empdetail" class="btn btn-success btn-sm">empDeatils</button>{{" "}}
    <button type="button" routerLink="breakfast" class="btn btn-success btn-sm">Breakfast</button>{{" "}}
    <button type="button" routerLink="productdash" class="btn btn-success btn-sm">CRUD</button>{{" "}}
    <button type="button" routerLink="angularmat" class="btn btn-success btn-sm">Angular Material</button>{{" "}}

    <button type="button" class="btn btn-primary" style="float: right;" (click) = "logOut()">logout</button>
    
</nav>